/*
Colors
#faf9f9
#b5bfc0
#414441
*/
/*Globle Styles*/
html, body {
    font-family: Montserrat, sans-serif;
    background-color: #222;
    margin: 0;
    padding: 0 5%;
}
/*Header Styles*/
.header {
    border-left: cyan solid 1px;
    border-bottom: cyan solid 1px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
}
.header-img img{
    height: 50px;
    width: 50px;
}
.header-title {
    font-size: 68px;
    padding: 1% 1%;
}
.header-links {
}
/*Main Styles*/
.main {
    background-color: #333;
}
.main-skills {
    background-color: #333;
    float: left;
    width: 68%;
    border-left: #111 solid 3px;
}
.main-photo {
    background-color: #333;
    border-right: #111 solid 3px;
    height:auto;
}
.main-photo img {
    padding: 1% 2% 0;
}
.main-downlaod {
    
}
/*Footer Styles*/
